<%= simple_form_for @invent, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :tipo %>
    <%= f.input :nota %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                invents_path, :class => 'btn' %>
  </div>
  
  <ul>
    <% @categories.each do |c| %>
      <li><%= link_to c.nombre, invents_products_path(1), remote: true %></li>
    <% end %>
  </ul>
  <div id="categorias">
  </div>
  <%= debug(@ttt) %>
<% end %>