<%= simple_form_for @comuna, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :nombre, required: true %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to 'Cancel', umedidas_path, class: "btn"  %>
  </div>
<% end %>
